/* Home Page Section */
/* Author: Damilola Adefenwa/
/* Date: 2025-07-11 */

:root {

    --myfont: "Merriweather Sans", sans-serif;
    --primarycolor: #3D4058;
    --primarypop: #005e8a;
    --darktextcolor: #0d0d12;
    --secondarycolor: #B5BABE;
    --greybackground: #eaecef;
    --accentcolor: #ff977a;
    --popcolor: #FFC328;
    --popvariant: #fcff42;

    /* Dark Mode Colors (example) */
    --dark-mode-background: #2c3e50;
    --dark-mode-text: #ecf0f1;
    --dark-mode-card-bg: #34495e;
    --dark-mode-border: #4a627d;
}

/****************** HERO SECTION ****************/
/* Hero Section */
.hero-section {
    position: relative;
    width: 100%;
    min-height: 400px;
    height: 60vh;
    /* responsive height */
    overflow: hidden;
}

.hero-section picture {
    position: static;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 1;
}

.hero-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.hero-content {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    z-index: 2;
    color: white;
    /* Semi-transparent overlay for text readability */
    text-shadow: 0 2px 8px rgba(0, 0, 0, 0.7);
    max-width: 60vw;
}

.hero-content h1 {
    font-size: 1.8rem;
    margin-bottom: 10px;
    line-height: 1.1;
    font-family: var(--myfont);
    color: white;
    text-shadow: 0 2px 8px rgba(0, 0, 0, 0.7);
}

/**** Hero-Section Buttons Styling ****/
.hero-btn {
    display: inline-block;
    background-color: var(--popcolor);
    color: var(--darktextcolor);
    padding: 12px 25px;
    border: none;
    border-radius: 8px;
    font-size: 1.3rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    text-decoration: none;
    margin-top: 15px;
    margin-left: 20px;
}

.keynote-button {
    position: absolute;
    /* To be above the overlay */
    z-index: 3;
    top: 50%;
    right: 10%;
    background-color: var(--popcolor);
    color: var(--darktextcolor);
    padding: 12px 25px;
    border: none;
    border-radius: 8px;
    font-size: 1.3rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    text-decoration: none;
    display: inline-block;
    /* If it's an anchor */
    text-shadow: 0 2px 8px rgba(0, 0, 0, 0.7);
    margin-top: 10rem;
}

.hero-section a:hover,
.keynote-button:hover {
    background-color: var(--accentcolor);
    transform: translateY(-2px);
}

/* Hero Section Dark mode */
body.dark-mode .hero-section {
    background-color: var(--dark-mode-card-bg);
    border: 1px solid var(--dark-mode-border);
}

body.dark-mode .hero-section h1 {
    color: var(--dark-mode-text);
}

body.dark-mode .hero-btn {
    color: var(--dark-mode-text);
    background-color: var(--dark-mode-background);
}

body.dark-mode .keynote-button {
    background-color: var(--dark-mode-background);
    color: var(--dark-mode-text);
}

/****************** EVENT & WEATHER SECTION ****************/
/* Events and Weather Section (CSS Flexbox) */
h1 {
    margin-left: 15px;
}

.events-weather-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    /* Gaping btw event-card & weather-cards-group */
    justify-content: center;
    align-items: stretch;
    /* stretching to fill available height */
}

.card {
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    padding: 8px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* Content starts from the top, fits normally */
}

/* Sizing Flexbox for 2:1 ratio: Event Card and Weather Cards Group */
.event-card {
    flex: 2 1 calc(45.02% - 4px);
    /* Event card takes 2/3 of space les 1/4 gap */
    /* min-width: 400px; */
    /* Minimum width before wrapping 
    or I removed for responsiveness after testing */
}

.weather-cards-group {
    /* New flex container for the two weather cards */
    flex: 1 1 calc(45.66% - 4px);
    /* Weather group takes approx 1/3 of space, minus half gap */
    display: flex;
    flex-direction: row;
    /* Make weather cards appear side-by-side within their group */
    gap: 10px;
    /* Gap between the two weather cards */
    /* min-width: 300px; */
}

/* Individual weather cards within the group */
.weather-cards-group .weather-card {
    flex: 1 1 calc(50% - 4px);
    /*Each weather card takes equal space - 1/4 half gap */
    margin: 0;
}

.event-card h2 {
    margin: 0 -0.5rem;
    font-size: 1.3rem;
    color: white;
    background-color: var(--darktextcolor);
    padding: 0.5rem 1rem;
    border-radius: 5px;
}

.weather-card h2 {
    margin-top: 0;
    width: 93%;
    font-size: 1.3rem;
    color: white;
    background-color: var(--darktextcolor);
    /* border-bottom: 1px solid #eee; */
    padding: 0.5rem 1rem;
    border-radius: 5px;
}

.event-card p {
    font-size: 1.1rem;
    line-height: 1.8;
    color: #555;
    margin-left: 7px;
    text-indent: 1.5rem;
}

.event-card span {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--primarypop);
}

.weather-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.weather-card .weather-icon {
    width: 60px;
    height: 60px;
    /* margin-trim: 15px; */
    margin-bottom: 0;
    object-fit: contain;
}

/* New wrapper for weather text content */
.weather-text-content {
    flex-grow: 1;
    /* Allow text content to take remaining space */
}

.weather-card .location {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--darktextcolor);
    margin-top: 0;
    margin-bottom: 5px;
}

.weather-card .temperature {
    font-size: 2.2rem;
    font-weight: 700;
    color: var(--primarypop);
    margin-top: 0;
    margin-bottom: 5px;
}

.weather-card .description {
    font-size: 0.95rem;
    color: var(--darktextcolor);
    margin-top: 0;
    margin-bottom: 10px;
}

.weather-card .details {
    font-size: 0.85rem;
    color: var(--primarypop);
    line-height: 1.4;
}

/**** FORECAST SESSION ****/
/* New CSS for Forecast Weather Card */
/* #weather-forecast-card {
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
}

#weather-forecast-card h2 {
    width: 100%;
} */

.forecast-days-container {
    display: flex;
    flex-direction: column;
    /* Stack individual forecast days */
    gap: 20px;
    /* Space between each day's forecast */
    width: 100%;
    /* Take full width of parent */
    margin-top: 10px;
    /* Space below heading */
}

.forecast-day-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    /* Space between icon and text for each day */
    width: 95%;
    border-bottom: 2px dashed #eee;
    /* Subtle separator */
    padding-bottom: 5px;
    padding-top: 5px;
}

.forecast-day-item:last-child {
    border-bottom: none;
    /* No border on the last item */
    padding-bottom: 0;
}

.forecast-day-item .forecast-day-name {
    font-weight: 600;
    /* flex-basis: 80px; */
    flex-basis: 100px;
    /* Give a fixed width for day name */
    flex-shrink: 0;
    margin: 0;
    color: var(--darktextcolor);
}

.forecast-day-item .forecast-temp {
    font-weight: 700;
    color: var(--primarypop);
    margin: 0;
    flex-grow: 1;
    /* Allow temperature to take available space */
    text-align: right;
    /* Align temp to right */
    font-size: 1.1rem;
    /* Make temperature more prominent */
}

/* Events and Weather Section Dark mode */
body.dark-mode .card {
    background-color: var(--dark-mode-card-bg);
    border: 1px solid var(--dark-mode-border);
}

body.dark-mode .card h2 {
    color: var(--dark-mode-text);
    background-color: var(--dark-mode-background);
}

body.dark-mode .card p {
    color: var(--dark-mode-text);
}

body.dark-mode .card span {
    color: var(--popvariant);
}

body.dark-mode .weather-card .details {
    color: var(--popvariant);
}

body.dark-mode .weather-card .temperature {
    color: var(--popvariant);
}

body.dark-mode .forecast-day-item .forecast-temp {
    color: var(--popvariant);
}

/****************** COMPANY SPOTLIGHT SECTION ****************/
.company-spotlight {
    text-align: center;
}

.company-spotlight h2 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 30px;
}

.spotlight-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 1.5rem;
    /* gap: 25px; */
    /* justify-content: center; */
}

.company-card {
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
    /* box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08); */
    border: 1px solid var(--greybackground);
    padding: 1.5rem;
    /* padding: 20px; */
    text-align: center;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center;
}

.company-card img {
    width: 100%;
    /* max-width: 100px; */
    height: auto;
    margin: 0 auto 1rem;
    border-radius: 5px;
    border-radius: 8px;
    object-fit: contain;
    margin-bottom: 15px;
}

.company-card h3 {
    font-size: 1.4rem;
    color: var(--darktextcolor);
    margin-top: 0;
    margin-bottom: 0.5rem;
    /* margin-bottom: 5px; */
}

.company-card p {
    font-size: 0.95rem;
    color: var(--darktextcolor);
    margin: 0.3rem 0;
    /* margin-bottom: 5px; */
}

.company-card .contact-info {
    font-size: 0.85rem;
    color: #777;
    text-align: left;
    width: 100%;
    margin-top: 10px;
    line-height: 1.5;
}

.company-card .contact-info strong {
    color: #555;
}

.company-card a {
    color: var(--primarypop);
    font-weight: bold;
    margin-top: 0.8rem;
    display: block;
    word-break: break-all;
}

.company-card a:hover {
    text-decoration: underline;
    color: var(--popcolor);
}

.company-card .membership-level {
    font-size: 0.8rem;
    color: var(--primarycolor);
    font-weight: bold;
    margin-top: 1rem;
    padding-top: 1rem;
    border-top: 1px solid #0d0d12;
}

body.dark-mode .company-card {
    background-color: var(--dark-mode-background);
    border: 1px solid var(--dark-mode-border);
}

body.dark-mode .company-card h3 {
    color: var(--dark-mode-text);
}

body.dark-mode .company-card p {
    color: var(--dark-mode-text);
}

body.dark-mode .company-card a {
    color: var(--popvariant);
}

body.dark-mode .company-card .membership-level {
    border-top: 1px solid var(--dark-mode-border);
}

body.dark-mode .company-card .contact-info strong {
    color: var(--popvariant);
}

/* ***************** RESPONSIVE DESIGN *************** */
/* 1. Mobile  or small screen adjustments */
@media (max-width: 606px) {

    html,
    body {
        overflow-x: hidden;
    }

    h1 {
        margin-left: 20px;
    }

    .hero-section {
        min-height: 600px;
        height: 40vh;
        /* Responsive height for mobile */
    }

    .hero-content {
        left: 5%;
        margin-bottom: 5%;
        max-width: 90vw;
        /* Adjust content width for mobile */
    }

    .hero-content h1 {
        font-size: 2em;
    }

    .hero-content p {
        font-size: 1em;
    }

    .hero-btn {
        font-size: 1rem;
    }

    .keynote-button {
        font-size: 1rem;
        padding: 10px 20px;
        margin-top: 13rem;
    }

    /* Events and Weather Section */
    .events-weather-grid {
        flex-direction: column;
        /* Stack event card and weather group */
        align-items: center;
    }

    .event-card,
    .weather-cards-group {
        flex: 1 1 100%;
        /* Taking full width when stacked */
        max-width: 90%;
        /* Limited width to ensure some padding/margin */
    }

    .weather-cards-group {
        flex-direction: column;
        /* Stacking individual weather cards within their group */
        gap: 20px;
        /* Adjusted gap for vertical stacking */
    }

    .weather-cards-group .weather-card {
        flex: 1 1 100%;
        /* Taking full width within their stacked group */
        max-width: 100%;
        /* Ensuring no overflow */
    }

    .event-card h2,
    .weather-card h2 {
        font-size: 1.5rem;
        margin: 0 0 1rem 0;
        text-align: center;
    }

    .event-card p {
        font-size: 1rem;
    }

    .event-card span {
        font-size: 1.2rem;
    }

    .weather-icon {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .weather-card .temperature {
        font-size: 2rem;
    }

    .company-spotlight {
        padding: 1.5rem;
    }

    .company-spotlight h2 {
        font-size: 1.8rem;
    }

    .spotlight-grid {
        grid-template-columns: 1fr;
        /* Stack on small screens */
        overflow-x: hidden;
        text-align: center;
    }

    .company-card {
        padding: 15px;
        height: 70%;
    }

    .company-card img {
        width: 70%;
        height: auto;
    }

    .company-card a {
        word-break: break-all;
        display: block;
    }
}

/* 2. Large screen adjustments (e.g, tablet, laptop etc) */
@media only screen and (min-width: 38rem) {

    .hero-section {
        height: 550px;
        /* Taller hero section on very large screens */
    }

    .hero-content h1 {
        font-size: 3.5em;
    }


}