@media only screen and (min-width: 38rem) {

    header,
    main,
    nav,
    footer {
        max-width: 900px;
        margin: 0 auto;
    }

    header {
        grid-template-columns: 24px auto;
    }

    .hamburger {
        display: none;
    }

    .navigation {
        display: block;
        border-bottom: solid 1px #ddd;
        background-color: #eee;
    }

    .navigation ul li:not(:first-child) {
        border-left: 1px solid #bbb;
    }

    .navigation ul {
        display: flex;
    }

    .navigation a {
        border: none;
    }

    /* Group card1 and card2 side by side for large screens */
    main {
        display: flex;
        flex-direction: column;
    }

    .about-container {
        display: flex;
        gap: 1.5rem;
        margin-bottom: 1.5rem;
    }

    .card1 {
        flex: 2;
    }

    .card2 {
        flex: 1;
    }

    .card2 img {
        display: block;
        margin: 0 auto;
        height: auto;
    }


}