:root {
    /* CSS HEX */
    /* --white-smoke: #f2f2f2;
    --prussian-blue: #253c57;
    --light-blue: #Bee1e5;
    --yellow: #fcff42;
    --white: #ffffff;
    --night: #0d0d12; */

    /* FONT STYLE & WEIGHT */
    --myfont: "Lato", sans-serif;
    /* Font-weight List: thin-100, light-300, regular-400
    bold-700, black-900, Font-style:normal and italic  */
    --primarycolor: #f2f2f2;
    --primarypop: #253c57;
    --darktextcolor: #0d0d12;
    --lighttextcolor: #ffffff;
    --accentcolor: #Bee1e5;
    --popcolor: #fcff42;

    /* Dark Mode Colors (example) */
    --dark-mode-background: #2c3e50;
    --dark-mode-text: #ecf0f1;
    --dark-mode-card-bg: #34495e;
    --dark-mode-border: #4a627d;
    --dark-mode-footer: #1a252f;
    --dark-mode-header: #9db5cb;


}

/************* Base Styles ************/
body {
    margin: 0;
    font-family: var(--myfont);
    background: var(--primarycolor);
    color: var(--darktextcolor);
    transition: background-color 0.3s ease;
}

/* ***************** DARK THEME STYLES *************** */
body.dark-mode {
    background-color: var(--dark-mode-background);
    color: var(--dark-mode-text);
}

body.dark-mode h1,
body.dark-mode h2,
body.dark-mode h3,
body.dark-mode h4,
body.dark-mode h5,
body.dark-mode h6 {
    color: var(--dark-mode-text);
}

body.dark-mode .header {
    background-color: var(--dark-mode-header);
}

body.dark-mode .logo a {
    color: var(--darktextcolor);
    /* Keep accent color for links formally used light blue*/
}

body.dark-mode .logo a:hover,
body.dark-mode .nav-links a:hover {
    background-color: var(--dark-mode-text);
}

body.dark-mode .nav-links li.current a:hover{
    color: var(--darktextcolor);
}

/* ***************** HEADER AND DARK MODE TOGGLE*************** */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--accentcolor);
    color: var(--primarypop);
    padding: 0.5rem 2rem;
    position: sticky;
    top: 0;
    z-index: 10;
    max-width: 1200px;
    margin: 0 auto;
}

.logo {
    display: flex;
    align-items: center;
    font-weight: bold;
    letter-spacing: 2px;
    gap: 10px;
}

.logo img {
    width: 40px;
    /* Fixed size for the logo */
    height: 40px;
    border-radius: 10%;
    object-fit: cover;
    /* Ensures image covers the area without distortion */
}

.logo a {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--darktextcolor);
    text-decoration: none;
}

.logo a:hover {
    background-color: var(--popcolor);

}

.dark-mode-toggle {
    margin-left: 2rem;
    margin-top: 0;
    display: flex;
    align-items: center;
}

.dark-mode-toggle button {
    background: none;
    border: 1px solid black;
    color: black;
    font-size: 1.5rem;
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.dark-mode-toggle button:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

/* ***************** NAVIGATION *************** */

/*** HAMBURGER ***/
.hamburger-menu {
    display: block;
    /* Show hamburger on mobile */
    background: none;
    border: none;
    color: #000;
    font-size: 2rem;
    cursor: pointer;
    padding: 0.5rem;
    order: 1;
    /* Appears first on small screens */
}

/*** NAVIGATION ***/

nav {
    display: flex;
    align-items: center;
    margin-left: auto;
    gap: 2rem;
}

.nav-links {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
    max-height: none;
}

.nav-links.open {
    max-height: 500px;
}

.nav-links li {
    border-bottom: 1px solid rgba(231, 224, 224, 0.1);
}

.nav-links li:last-child {
    border-bottom: none;
}

.nav-links a {
    display: block;
    padding: 0.8rem .1rem;
    color: var(--lighttextcolor);
    text-decoration: none;
    transition: background-color 0.3s ease;
    font-weight: 600;
    text-align: left;
    margin-left: 5px;
}

.nav-links a:hover,
.nav-links a.active {
    background-color: var(--popcolor);
    color: var(--primarypop);
    text-decoration: none;
}

.nav-links li.current {
    background-color: var(--lighttextcolor);
}

.nav-links li.current a {
    color: #0d0d12;
}

/* ***************** MAIN *************** */
main {
    flex: 1;
    /* Allows main content to grow and push footer down */
    padding: 1rem;
    max-width: 1200px;
    margin: 0 auto;
    /* Center align main content */
    width: 100%;
    box-sizing: border-box;
    /* Include padding in element's total width and height */
}

/* ***************** FOOTER *************** */
footer {
    background-color: var(--accentcolor);
    font-family: var(--myfont);
    color: var(--primarypop);
    padding: 2rem 1rem;
    text-align: center;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    margin-top: 2rem;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    gap: 1.5rem;
    /* Space between flex items */
}

.contact-info,
.social-media,
.development-info {
    flex: 1 1 250px;
    /* Allow items to grow/shrink, with a base width */
    text-align: left;
}

footer h3 {
    margin-bottom: 0.8rem;
    font-size: 1.2rem;
    line-height: 1.5rem;
}

footer p {
    margin: 0.4rem 0;
    font-size: 1.1rem;
}

footer a {
    color: #243d01;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    color: var(--popcolor);
    background-color: var(--primarypop)
}

.social-media {
    display: flex;
    justify-content: center;
    /* Center icons if they wrap */
    gap: 1rem;
    margin-top: 1rem;
}

.social-media img {
    width: 40px;
    /* Size for social icons */
    height: 40px;
    border-radius: 50%;
    background-color: rgba(1, 1, 1, 0.5);
    padding: 5px;
    transition: transform 0.2s ease, background-color 0.2s ease;
}

.social-media img:hover {
    transform: scale(1.1);
    background-color: var(--popcolor);
}

.development-info {
    font-size: 1.2rem;
    text-align: right;
}

/* ***************** DARK MODE FOOTER *************** */
body.dark-mode footer {
    background-color: var(--dark-mode-footer);
    /* Even darker for dark mode footer*/
}

body.dark-mode footer p {
    color: var(--dark-mode-text);
}

body.dark-mode footer a {
    color: var(--popcolor);
}


/* ***************** RESPONSIVE DESIGN *************** */
/* 1. Mobile  or small screen adjustments */
@media (max-width: 606px) {

    html,
    body {
        overflow-x: hidden;
    }

    .header {
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        padding: 0.5rem 1rem;
    }

    .logo {
        flex-direction: row;
        /* Stack logo and site name vertically */
        align-items: center;
        gap: 10px;
        margin-left: 5px;
        flex: 1 1 auto;
    }

    .logo a {
        /* word-break: break-all; */
        display: block;
    }

    nav {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        background: none;
        position: static;
        width: auto;
        margin-left: auto;
        gap: 0.5rem;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        align-items: flex-end;
        gap: 1rem;
        margin: 0;
        padding: 0;
        list-style: none;
        background: none;
        width: auto;
        position: absolute;
        top: 133px;
        /* adjust as needed */
        right: 6px;
        z-index: 100;
        background: var(--primarypop);
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
    }

    .nav-links.open {
        display: flex;
    }

    .nav-links.open a {
        /* min-width: 200px; */
        width: 358px;
        text-align: right;
    }

    .nav-links li {
        width: 100%;
        border-bottom: none;
        margin: 0;
    }

    .nav-links a {
        padding: 0.5rem 1rem;
        color: var(--lighttextcolor);
        font-weight: bold;
        border-bottom: 2px solid rgba(255, 255, 255, 0.4);
        text-align: right;
        min-width: 100px;
        margin-top: .89rem;
        cursor: pointer;
    }

    .nav-links a:hover,
    .nav-links a.active {
        background-color: var(--popcolor);
        color: var(--primarypop);
        text-decoration: none;
    }

    .nav-links li.current a {
        background: var(--lighttextcolor);
        color: #0d0d12;
    }

    .nav-links li.current a:hover {
        color: blue;
    }

    .hamburger-menu {
        display: block;
        margin-top: 0.5rem;
        margin-right: 0.5rem;
        align-self: flex-end;
        z-index: 101;
    }

    .dark-mode-toggle {
        margin: 0.5rem 0 0 0;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }


}


/* 2. Large screen adjustments (e.g, tablet, laptop etc) */
@media only screen and (min-width: 608px) {

    .header {
        flex-wrap: nowrap;
        align-items: center;
    }

    .hamburger-menu {
        display: none;
        /* Hide hamburger on larger screens */
    }

    nav {
        width: auto;
        order: initial;
        margin-top: 0;
        text-align: left;
        margin-left: 2rem;
        display: flex;
        align-items: center;
        background: none;
        position: static;
    }

    .nav-links {
        flex-direction: row;
        max-height: none;
        overflow: visible;
        background: none;
        gap: 2rem;
        align-items: center;
        width: auto;
    }

    .nav-links li {
        border-bottom: none;
        margin-right: 1.5rem;
    }

    .nav-links li:last-child {
        margin-right: 0;
    }

    .nav-links a {
        padding: 0.5rem 1rem;
        background: none;
        color: var(--darktextcolor);
        font-weight: 700;
        border-radius: 0.5rem;
    }

    .dark-mode-toggle {
        margin-left: 2rem;
        margin-top: 0;
        order: initial;
        display: flex;
        align-items: center;
    }

    .nav-links a:hover,
    .nav-links a.active {
        background-color: var(--primarypop);
        color: var(--popcolor);
    }

    .nav-links li.current a:hover {
        color: var(--popcolor);
    }

    .nav-links li.current {
        width: 5rem;
        padding: 4px 7px;
    }

    body.dark-mode .nav-links a {
        color: var(--dark-mode-footer);
    }

    .footer-content {
        justify-content: space-between;
        line-height: 1.5rem;
    }

    .contact-info,
    .social-media,
    .development-info {
        flex: 0 1 auto;
        /* Allow items to take natural width */
    }

    .social-media {
        /* order: -1; */
        /* Move social media to the left in the middle */
        margin-top: 0;
    }

    .development-info {
        text-align: right;
    }
}